<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<html xmlns:th="http://www.thymeleaf.org" lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Estilos.css">
        <title>Biblioteca Tejada Gomez</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body style="background: url('libros.jpg') no-repeat; background-size: cover;" >
        <!--Navigation-->
        <nav th:replace="/fragments/Navbar :: nav"></nav>
        <h1 >Bienvenidos a la biblioteca Tejada Gómez</h1>
        <div class="columna">
            <div class="card">
                <!--<img src="/libros.jpg" alt="Foto libros">
                    <button type="submit">Enviar</button>-->
                  <a th:href="@{/autor/Panelautores}" target="_blank" class="btn btn-primary">Panel Autores</a>
                  <a th:href="@{/editorial/Paneleditoriales}" target="_blank" class="btn btn-primary">Panel Editoriales</a>
            </div>
        </div>
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-
        DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-
        ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    </body>
</html>

